<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap" rel="stylesheet">


<header>
    <nav class="transicion2">
      <div class="container">
        <h1 class="navbar-brand">
            <a routerLink="login">Iniciar Sesión</a>
            <a routerLink="signup" class="ms-4">Registrate</a>
        </h1>
      </div>
    </nav>
</header>

<div class="primera">
  <div>
    <h1 class="h1">Bienvenido Jugadores <br> comencemos juntos esta aventura <br></h1>
  </div>
  <div class="transicion"></div>
</div>

<div class="tercera">
  <div class="mover">
    <h2 class="h2">¿Qué es el juego de rol?</h2>
    <p class="p_tercera">El juego de rol es un juego de mesa en el que los jugadores interpretan a personajes ficticios en un mundo imaginario. Los jugadores se turnan para narrar la historia, y los demás jugadores pueden intervenir para modificarla. El juego de rol es un juego de mesa en el que los jugadores interpretan a personajes ficticios en un mundo imaginario. Los jugadores se turnan para narrar la historia, y los demás jugadores pueden intervenir para modificarla.</p>
  </div>
  <div class="imagen_larga">
    <img src="/assets/fondo_juego5.png" alt="juego">
  </div>
</div>

<div class="segunda" [ngClass]="posicion? 'bg-fixed' : ''">
  <div class="transicion3">
      
    <div class="cuadro cuadro1">
      <div class="gif gif1">
        <div class="sombra"></div>
        <div class="muñeco muñeco1"></div>
      </div>
      <div class="gif gif2">
        <div class="sombra"></div>
        <div class="muñeco muñeco2"></div>
      </div>
    </div>
  
    <div class="cuadro cuadro2">
      <h2 class="h3">¿Qué es el juego de rol?</h2>
      <p class="p_cuadro">El juego de rol es un juego de mesa en el que los jugadores interpretan a personajes ficticios en un mundo imaginario. Los jugadores se turnan para narrar la historia, y los demás jugadores pueden intervenir para modificarla. El juego de rol es un juego de mesa en el que los jugadores interpretan a personajes ficticios en un mundo imaginario. Los jugadores se turnan para narrar la historia, y los demás jugadores pueden intervenir para modificarla.</p>
      <h2 class="h3">¿Qué es el juego de rol?</h2>
      <p class="p_cuadro">El juego de rol es un juego de mesa en el que los jugadores interpretan a personajes ficticios en un mundo imaginario. Los jugadores se turnan para narrar la historia, y los demás jugadores pueden intervenir para modificarla. El juego de rol es un juego de mesa en el que los jugadores interpretan a personajes ficticios en un mundo imaginario. Los jugadores se turnan para narrar la historia, y los demás jugadores pueden intervenir para modificarla.</p>
    </div>
  
    <div class="cuadro cuadro3">
      <div class="gif gif1">
        <div class="sombra"></div>
        <div class="muñeco muñeco3"></div>
      </div>
      <div class="gif gif2">
        <div class="sombra"></div>
        <div class="muñeco muñeco4"></div>
      </div>
    </div>
  </div>
</div>

<div class="cuarta">
  <div class="contenedor_texto">
      <h3 class="h3">Efecto 2.5D</h3>
      <p class="p_video">2.5D ("dimensión dos y medio"), perspectiva de 3/4 y pseudo-3D son los términos que se utilizan para describir ya sea: Proyecciones gráficas en 2D y técnicas que hacen que una serie de imágenes o escenas parezcan ser de tres dimensiones (3D), cuando en realidad no lo son</p>
  </div>
  <div class="contenedor_video">
    <video src="/assets/video_fondo.mp4" class="video_fondo" controls></video>
  </div>
</div>