<body>
    <section class="form-register">
        <h4>Formulario Registro</h4>
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
        <input class="controls" type="text" name="apellidos" id="alias" placeholder="Ingrese tu nit">
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
        <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
        <p>Estoy de acuerdo con los  <a href="#">Terminos y Condiciones</a></p>
        <button class="botons" type="submit" value="Registrar">Registrar</button>
        <p><a href="#">¿Ya tengo Cuenta?</a></p>
    </section>
</body>