.logo{
    position: absolute;
    margin: 20px 0 0 20px;
}

.imagen{
    width: 90px;
}

.fondo_inicio{
    background: url("/assets/bg.png");
}

body{
    background-image:  url("/assets/bg.png");
    height: 100vh;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #00000096;
    border-radius: 5px;
    border-top: 5px solid #544adb;
    margin: 140px 0 200px;
    color: #fff;
    box-shadow: 7px 13px 37px rgb(61, 60, 60);
}

.login-block h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: rgb(255, 255, 255) url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: rgb(255, 255, 255) url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #544adb;
}


.login-block button {
    width: 100%;
    height: 40px;
    background: #544adb;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #544adb;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}


.login-block button:hover {
    background: #fff;
}


