<a routerLink="" class="logo" routerLinkActive="ocultar"><img src="/assets/icon.png" alt="icono" class="imagen"></a>

<body>
    <section class="form-register">
        <h4>Formulario Registro</h4>
        <input class="controls" type="text" name="nombres" id="nombres" placeholder=" nombres">
        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Nick jugador">
        <input class="controls" type="email" name="correo" id="correo" placeholder=" Correo">
        <input class="controls" type="password" name="correo" id="correo" placeholder=" Contraseña">
        <p>Estoy de acuerdo con los <a href="#">Terminos y Condiciones</a></p>
        <button class="botons" type="submit">Registrar</button>
        <p><a routerLink="/login">¿Ya tengo una Cuenta?</a></p>
    </section>
</body>
