<header>
    <nav class="transicion2">
      <div class="container">
        <h1 class="navbar-brand">
            <a routerLink="login">Iniciar Sesión</a>
            <a routerLink="signup" class="ms-4">Registrate</a>
        </h1>
      </div>
    </nav>
</header>

<div class="primera">
  <div>
    <h1 class="h1">Bienvenido Jugadores <br> comencemos juntos esta aventura <br></h1>
  </div>
  <div class="transicion"></div>
</div>

<div class="tercera">
  <div class="imagen_larga">
    <img src="/assets/fondo_juego5.png" alt="juego">
  </div>
</div>

<div class="segunda">
  <div class="cuadro cuadro1">
    <div class="gif gif1">
      <div class="sombra"></div>
      <div class="muñeco muñeco1"></div>
    </div>
    <div class="gif gif2">
      <div class="sombra"></div>
      <div class="muñeco muñeco2"></div>
    </div>
  </div>
  <div class="cuadro cuadro2">
    <h6>jsdbjsbvsvs</h6>
  </div>
  <div class="cuadro cuadro3">
    <div class="gif gif1">
      <div class="sombra"></div>
      <div class="muñeco muñeco1"></div>
    </div>
    <div class="gif gif2">
      <div class="sombra"></div>
      <div class="muñeco muñeco2"></div>
    </div>
  </div>
</div>

<div class="cuarta">
  <div class="contenedor_texto">
      <h3>sndsidnisdi</h3>
  </div>
  <div class="contenedor_video">
    <video src="/assets/video_fondo.mp4" class="video_fondo" controls></video>
  </div>
</div>