.container{
    max-width: 900px;
}

.primera{
    background-image: url('/assets/fondo_prin - copia.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.transicion{
    width: 100%;
    height: 40px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(0,0,0));
    position: absolute;
    bottom: 0;
}

.transicion2{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
}

.transicion3{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: flex-start;
    background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0) 100%);
    top: 0;
}

a{
    color: white;
    text-decoration: none;
}

.h1, .h2{
    color: beige;
    height: 100%;
    text-shadow: 2px 5px 5px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    text-align: center;
}

.segunda{
    background-image: url('/assets/prueba_1 - copia.png');
    height: 100vh;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100% 740px;
    text-align: center;
    color: white;
    flex-direction: column;
}

.segunda.bg-fixed{
    background-attachment: fixed;
}

.gif{
    position: relative;
    max-width: min-content;
    z-index: 1;
}

.sombra{
    border-radius: 100%;
    height: 40px;
    width: 100px;
    position: absolute;
    margin: 0 50%;
    bottom: 10px;
    transform: translateX(-50%);
    z-index: -1;
    background: radial-gradient(circle, rgba(67,62,64,0.7) 0, rgba(6,0,1,0) 100%);
    box-shadow: 0 0 20px rgb(199, 47, 47);
}

.gif2 .sombra{
    bottom: -10px;
}

.muñeco1{
    background: url("/assets/gif_dibujo2.gif");
    background-size: cover !important;
}

.muñeco2{
    background: url("/assets/gif_dibujo1.webp");
    background-size: cover !important;
}

.muñeco3{
    background: url("/assets/git_dibujo1.gif");
}

.muñeco4{
    background: url("/assets/git_dibujo3.gif");
    background-position: 0 !important;
}

.muñeco{
    height: 200px;
    width: 200px;
    background-size: 180px 180px;
    background-position: center;
    background-repeat: no-repeat;
}

.cuadro1, .cuadro3{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 80px;
    width: 20%;
}

.cuadro2{
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 60%;
}

.tercera{
    background-image: url("/assets/fondo_ter.jpg");
    height: 110vh;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mover{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 50px 80px;
    text-align: center;
    color: aliceblue;
    padding: 60px 50px 60px;
}

.h2, .h3{
    font-family: 'Dosis', sans-serif;
    text-shadow: 2px 5px 5px rgb(0 255 134 / 36%);
}

.h3{
    padding: 30px;
}

.p_tercera, .p_cuadro, .p_video{
    padding: 40px 150px 0;
    text-shadow: 2px 5px 5px rgba(201, 52, 47, 0.36);
    font-size: 18px;
}

.p_cuadro, .p_video{
    padding: 0;
}

.imagen_larga{
    background: rgb(0, 0, 0);
    width: 50vw;
    overflow: hidden;
    height: 50vh;
    display: flex;
    border-radius: 40px;
    filter: drop-shadow(-20px 9px 28px rgba(63, 223, 156, 0.5)); 
}

.imagen_larga:hover img{
    left: -82%;   
}

.imagen_larga img{
    height: 100%;
    left: 0;
    transition: all 5s ease;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.cuarta{
    height: 100vh;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.contenedor_texto{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    color: aliceblue;
    flex-direction: column;
    text-align: center;
}

.contenedor_video{
    display: flex;
    justify-content: center;
    height: min-content;
    flex-direction: row;
    filter: drop-shadow(-15px 7px 21px rgba(63, 223, 156, 0.5)); 
    
}

.video_fondo{
    max-width: 50%;
}

.contenedor_video video{
    border-radius: 20px;
    width: 1200px;
    position: relative;
}
